* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    width: 90%;
    max-width: 420px;
    background: linear-gradient(135deg, #2193f8, #5b548a);
    color: white;
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center; 
    box-shadow: 0 0 20px white;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 55px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img {
    width: 25px;
    margin-top: 6px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin: 0 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
    transition: 0.5s;
}

.error {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 40px;
    display: none;
}
